//! **************************************************************************
// Written by: Map M.53d on Mon Apr 06 18:46:05 2015
//! **************************************************************************

SCHEMATIC START;
COMP "Selector" LOCATE = SITE "K3" LEVEL 1;
COMP "Entradas<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "Entradas<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "Salida" LOCATE = SITE "M5" LEVEL 1;
SCHEMATIC END;

